<h1>Register</h1>
<h2>All input fields are required</h2>

<div id="register-container">
    <form action="/account/register" method="POST">
        <label for="firstName">First Name</label>
        <input type="text" name="account_firstname" id="firstName" required placeholder="Enter your first name">
       
        <label for="lastName">Last Name</label>
        <input type="text" name="account_lastname" id="lastName" required placeholder="Enter your last name">
        
        <label for="accountEmail">Email</label>
        <input type="email" name="account_email" id="accountEmail" required placeholder="Enter a valid email address">

        <label for="accountPassword">Password</label>
        <span>Passwords must be at least 12 characters long and include at least one uppercase letter, one lowercase letter, one number, and one special character.</span>
        <input type="password" name="account_password" id="accountPassword" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" title="Password must be at least 12 characters and contain at least one uppercase letter, one lowercase letter, one number, and one special character." placeholder="Enter a strong password">
        <span id="pwButton">Show Password</span>

        <button type="submit" id="registerbtn">Submit Registration</button>
        <input type="hidden" name="action" value="register">
    </form>
</div>
<script src="/js/script.js"></script>

<!-- Display validation errors -->
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
    <% } %>