<%- messages() %>

    <h1>Vehicle Management</h1>

    <div class="manage-links">
        <ul>
            <li><a href="/inv/add-classification">Add New Classification</a></li>
            <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
        </ul>
    </div>  